@page "/"



<div class="content">
    <div class="board">
        @for (int i = 0; i < board.Length; i++)
            {
                @for (int j = 0; j < board[i].rowFields.Length; j++)
                    {
                        int x = j;
                        int y = i;

                        <div class="box" style="@((i - j) % 2 == 0 ? "background-color: Moccasin;" : "background-color: Peru;")
                             @(board[i].rowFields[j].isSelected ? "background-color: White" : "")"
                             @onclick="() => clicked(x, y)"
                             >
                            <img class="image" src="./images/bd.svg" />
                        </div>
                    }
            }
    </div>
</div>


    
@code {
    Row[] board = new Row[8];
    protected override void OnInitialized() {
        for (int i = 0; i < board.Length; i++)
        {
            board[i] = new Row();
        }
        for (int i = 0; i < board.Length; i++)
        {
            for (int j = 0; j < board[i].rowFields.Length; j++)
            {
                board[i].rowFields[j] = new Field();
            }
        }
    }


    class Field
    {
        public Boolean isSelected = false;
    }

    class Row {
        public Field[] rowFields = new Field[8];
    }



    class Brick {
        int x;
        int y;
        string? type;
        string? color;

        public Brick(int x, int y, string? type, string? color)
        {
            x = this.x;
            y = this.y;
            type = this.type;
            color = this.color;
        }

        string getImage()
        {
            string colorchar;
            string typechar = "";

            if (color == "white")
            {
                colorchar = "l";
            }
            else
            {
                colorchar = "d";
            }

            switch (type)
            {
                case "Queen":
                    typechar = "q";
                    break;
                case "King":
                    typechar = "k";
                    break;
                case "Pawn":
                    typechar = "p";
                    break;
                case "Knight":
                    typechar = "n";
                    break;
            }
            return ("./images/" + typechar + colorchar + ".svg");
        }
    }





    void clicked(int x, int y) {
        Console.WriteLine(x + "," + y);




    }
    }

